TOKEN="MTQ2NjA3OTY5NDczNzg5OTc0Ng.Gs3GL_.mIjEX8Bss-Zrp-Qcv-MlbW93wv3G1iKZjr4OLo"
MONGO="mongodb+srv://deepakpaswan12869_db_user:<db_password>@cluster0.xajpzeg.mongodb.net/?appName=Cluster0"
OWNERID="1451886189513539679"
PREFIX="."
